.hirebtn {
    transition: background-color 1s linear;
    transition: color 0.5s linear;
    cursor: pointer;
    border: #efece6 solid;
    background-color: #efece6;
    border-radius: 50px;
    font-family: "quicksand";
    color: #1f1f1f;
    height: 50px;
    width: 100px;
    font-size: 15px;
}

.btn {
    transition: background-color 1s linear;
    transition: color 0.5s linear;
    cursor: pointer;
    border: #efece6 solid;
    background-color: #efece6;
    border-radius: 20px;
    font-family: "quicksand";
    color: #1f1f1f;
    padding: 10px 50px;
    font-size: 20px;
}

.btn.button1 {
    border: #a9ff5c;
    background-color: #a9ff5c;
}

.conbut {
    cursor: pointer;
    border: #efece6 solid;
    background-color: #efece6;
    border-radius: 20px;
    font-family: "quicksand";
    color: #1f1f1f;
    width: 20%;
    height: 50px;
    font-size: 20px;
    margin: auto;
    transition: background-color 1s linear;
    transition: color 0.5s linear;
}


/* Hover line Hover line  Hover line  Hover line  Hover line  Hover line  */

.hirebtn:hover {
    background-color: #cb5cff;
    border: #cb5cff solid;
    color: #efece6;
}

.btn:hover {
    background-color: #cb5cff;
    border: #cb5cff solid;
    color: #efece6;
}

.conbut:hover {
    background-color: #cb5cff;
    border: #cb5cff solid;
    color: #efece6;
}