@font-face {
    font-family: "username-text";
    src: url(fonts/Nud.ttf);
}

@font-face {
    font-family: "content-text";
    src: url(fonts/LinBiolinum.otf)
}

@font-face {
    font-family: "frontscreen";
    src: url(assets/fonts/LeagueSpartan-Bold.otf)
}

@font-face {
    font-family: "quicksand";
    src: url(assets/fonts/Quicksand_Bold.otf);
}

@font-face {
    font-family: "quicksandlight";
    src: url(assets/fonts/Quicksand_Light.otf);
}